/* reset */
*, ::after, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

img {
    max-width: 100%;
    display: block;
}

a, button {
    text-decoration: none;
    border: transparent;
    cursor: pointer;
}

/* body */
body {
    font-family: sans-serif;
    font-size: medium;
    background: #F0F1F5;
}

/* All-container grid */
.all-container{
    display: grid;
    grid-template-columns: 270px 80%;
    grid-template-areas: "bloc1 bloc2";
}

/* sidebar */
.sidebar-container h1, h2, h3, h4 {
    color: #ffffff;
    margin: 25px auto;
    transition: all 4.s ease-out;
    padding: 8px;
    cursor: pointer;
}

.sidebar-container h1 {
    color: aquamarine;
}

.sidebar-container h4 {
    font-weight: bolder;
    padding: 10px;
}

span {
    font-size: 12px;
    margin-top: 10px;
    font-weight: lighter;
    color: #ffffff35;
    padding: 25px 4px;
    cursor: pointer;
}

:is(h1, h2, h3, h4 ):hover {
    background: #63a7ffad;
    border-radius: 4px;
}

:root {
    --grey-blue: #1C1F26;
}

.sidebar-container {
    margin: 5px;
    background-color: var(--grey-blue);
    padding: 20px;
    z-index: 20;
    height: 98.5vh;
    border-radius: 10px;
    position: sticky;
    top: 5px;
    transition: all .3s ease-out;
    grid-area: "bloc1";
}

.sidebar-container:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container-app {
    padding-left: 2px;
}

.containerCard {
    display: flex;
    gap: 15px;
    height: auto;
    padding: 10px 5px;
    /* width: 85%; */
}

.infoGraph { 
    width: 350px;
    height: auto;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
}
.price{
    font-size: larger;
}

.chifre {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.infoGraph > img {
    width: 300px;
    margin: center;
}

.text {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/* ContentContainer grid */
.contentContainer{
    grid-area: "bloc 2";
}

/* HEADER */
header {
   display: flex;
   position: sticky;
   top: 5px;
   margin: 5px 5px 0 5px;
   background: white;
   border-radius: 10px;
   padding: 1.5em;
   margin-bottom: 25px;
}

header .title{
    width: 80%;
    padding-left: 3rem;

}

header .title p {
    font-size: 1.6rem;
}

header .userSpace{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.userSpace img {
    height: 30px;
}

header .login{
    display: flex;
    align-items: center;
    gap: .5rem;
}
